<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script>

    // 그룹 색 지정

    function selectGroupColor(param) {
      console.log(param.dataset.value);
      $("#color").val(param.dataset.value);
    }

    $(function () {

    });
  </script>
</head>
<body>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calendarCateModalLabel">달력 생성</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="calendarForm" name="calendarForm" method="post" action="/calendars/new">
          <div class="mb-3">
            <label class="col-form-label">내 달력</label>
            <ul class="list-group">
              <li class="list-group-item" th:each="cd : ${calendarList}" th:style="'background-color:' + ${cd.color} + ';'"  th:value="${cd.cal_id}" th:text="${cd.cal_title}"></li>
            </ul>
          </div>
          <div class="mb-3">
            <label class="col-form-label">달력 색상</label>
            <ul class="list-group list-group-horizontal">
              <li><a href="javascript:void(0);" onclick="selectGroupColor(this)" class="list-group-item list-group-item-action list-group-item-primary">green</a></li>
              <li><a href="javascript:void(0);" onclick="selectGroupColor(this)" class="list-group-item list-group-item-action list-group-item-light">gray</a></li>
              <li><a href="javascript:void(0);" onclick="selectGroupColor(this)" class="list-group-item list-group-item-action list-group-item-danger">red</a></li>
              <li><a href="javascript:void(0);" onclick="selectGroupColor(this)" class="list-group-item list-group-item-action list-group-item-warning">yellow</a></li>
              <li><a href="javascript:void(0);" onclick="selectGroupColor(this)" class="list-group-item list-group-item-action list-group-item-info">blue</a></li>
              <li><a href="javascript:void(0);" onclick="selectGroupColor(this)" class="list-group-item list-group-item-action list-group-item-dark">dark-gray</a></li>
            </ul>
          </div>
          <div class="mb-3">
            <label for="cal_title" class="col-form-label">달력 이름</label>
            <input type="text" class="form-control" id="cal_title">
          </div>
          <div class="mb-3">
            <div class="form-check form-switch">
              <label class="memorial-yn">기념일</label>
              <input type="hidden" id="memorial_yn" name="memorial_yn" value="N">
              <input class="form-check-input" type="checkbox" id="memorial_ch">
            </div>
          </div>
          <input type="text" name="group_id" value="100">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" id="updateCalBtn" class="btn btn-pink">저장</button>
      </div>
    </div>
  </div>
</body>
</html>