<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="/css/jquery.timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" type="application/octet-stream" href="/css/bootstrap-datepicker.css.map" />

    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/js/jquery.timepicker.js"></script>

    <script type="text/javascript" src="/js/datepair.js"></script>
    <script type="text/javascript" src="/js/jquery.datepair.js"></script>

    <script src='/fullcalendar-6.1.5/dist/index.global.js'></script>

    <title>userGroup</title>

    <script>
        $(function() {
            //데이트피커
            $('#memorial_date').datepicker({
                format: "yyyy-mm-dd",	//데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
                autoclose : true,	//사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
                todayHighlight : true	//오늘 날짜에 하이라이팅 기능 기본값 :false
            });

            //초대링크생성
            let coupleLink = window.location.href + "?coupleCode=" + $("#coupleLink").val();
            $("#coupleLink").val(coupleLink);

            // 커플코드 있을 때 모달 자동 오픈
            if($("#coupleCodeInput").val() != ''){
                $("#memorialDateModal").modal('show');
            }

            // 매칭버튼 클릭
            $("#memorialDateBtn").click(function(e){
                if($("#coupleCodeInput").val() == '' || $("#coupleCodeInput").val() == null){
                    alert("초대 코드를 입력하시거나 초대 링크를 통해 접속하세요.");
                }else{
                    $("#memorialDateModal").modal('show');
                }
            });

        });//ready end

        //초대링크, 초대코드 복사하기
        function copyLink(obj, id){
            const content = document.getElementById(id);

            navigator.clipboard.writeText(content.value)
                .then(() => {
                    console.log("복사성공")
                    alert(obj.textContent + " 완료");
                })
                .catch(err => {
                    console.log('복사하기 에러!!!', err);
                })
        }

        // 커플 생성
        function saveUserGroup(){
            document.groupForm.submit();
        }


    </script>
</head>
<body>
<div layout:fragment="content">
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center">
                회원가입
                <small class="text-muted">을 축하합니다!</small>
            </h2>
            <div style="font-size:xx-large; width: 1000px; left: 150px; border:1px solid silver; border-radius: 10px; padding:10px; position: relative;top: 40px; text-align: center;">
                함께 할 친구를 초대해요
                <br/><br/>
                <div>
                    <h5 class="title" id="inviteModalLabel">초대링크 공유하기</h5>
                    <div class="input-group mb-3" style="width: 500px; height: 60px; margin: auto">
                        <input value="초대 링크" id="coupleLink" class="form-control" aria-describedby="button-addon1" th:value="${userInfo.couple_code}">
                        <!--<button class="btn btn-outline-secondary" type="button" id="coupleLinkCopyBtn" onclick="copyLink()">초대 링크 복사</button>-->
                        <button class="btn btn-outline-secondary" type="button" id="coupleLinkCopyBtn" onclick="copyLink(this, 'coupleLink')">초대 링크 복사</button>
                    </div>


                    <div class="input-group mb-3" style="width: 500px; height: 60px; margin: auto">
                        <input value="초대 코드" id="coupleCode" class="form-control" aria-describedby="button-addon2" th:value="${userInfo.couple_code}">
                        <!--<button class="btn btn-outline-secondary" type="button" id="coupleCodeCopyBtn" onclick="copyLink2()">초대 코드 복사</button>-->
                        <button class="btn btn-outline-secondary" type="button" id="coupleCodeCopyBtn" onclick="copyLink(this, 'coupleCode')">초대 코드 복사</button>
                    </div>
                    <div class="row g-3 align-items-center" style="width: 600px; margin: auto">
                        <div class="col-auto">
                            <label for="coupleCodeInput"  class="col-form-label" style="font-size: x-large; ">초대코드 입력</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="coupleCodeInput" class="form-control" aria-describedby="passwordHelpInline" th:value="${coupleCode}">
                        </div>
                        <div class="col-auto">
                            <span class="form-text">
                                <button type="button" id="memorialDateBtn" class="btn btn-pink">
                                 매칭(기념일입력)
                                </button>
                            </span>

                        </div>
                    </div>

                    <!-- Modal -->
                    <!--<div class="memorialDateModal" id="memorialDateModal" tabindex="-1" aria-labelledby="memorialDateModalLabel" aria-hidden="true">-->
                    <div class="modal fade" id="memorialDateModal" tabindex="-1" role="dialog" aria-labelledby="memorialDateModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="/userGroup" id="groupForm" name="groupForm" method="post">
                                    <input type="hidden" id="user_id" name="user_id" th:value="${userInfo.user_id}">
                                    <input type="hidden" id="couple_code" name="couple_code" th:value="${coupleCode}">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="memorialDateModalLabel">기념일 입력</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" id="memorial_date" name="memorial_date" class="form-control">
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-pink" id="saveBtn" onclick="saveUserGroup()">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>